<div class="container">
  <h1 style="padding: 10px;"><%= @task.title %></h1>

    <div class="task-card">
      <h3><%= @task.details %></h3>
      <p id="task-title">
        <input type="checkbox" name="task-completed" value="completed" <%= "checked" if @task.completed %>> Task complete
      </p>

      <p><%= link_to "Edit", edit_path(@task)%>
      <%= link_to "Delete", destroy_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      </p>
    </div>
  <div class="container">
      <%= link_to "Back to list", tasks_path %>
  </div>
</div>
